// Reset no longer needed if you're using Bootstrap. But add it back if you don't want to use Bootstrap.
// @import "reset";

* {
    background-repeat: no-repeat;
}

body {
    background: #f8f8f8;
}

.navbar {
    background: white;
    margin-bottom: 0;
}
    .nav.nav-pills{
        padding-top: 15px;
        float:right;
        padding-bottom: 15px;
    }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #4EB4D5;
}
.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
    background: url(../images/sketch-b.jpg);
    width: 100%;
    padding-top: 150px;
    margin-bottom: 15px;
    padding-bottom: 75px;
}
h1, h2 {
    font-family: 'Arvo', serif;
}

.img-frame {
    background: white;
    padding: 15px;

}
@media screen and (min-width: 800px) {

}


